.CodeMirror {
    height: 100%;
}

.CodeMirror .CodeMirror-scroll {
    height: 100%;
}

.CodeMirror .activeline {
    background: #f4f4f4 !important;
}

.CodeMirror .CodeMirror-selected {
    background: #bbffff !important;
}

.CodeMirror .cm-tab:after {
    content: "\21e5";
    display: -moz-inline-block;
    display: -webkit-inline-block;
    display: inline-block;
    width: 0px;
    position: relative;
    overflow: visible;
    left: -1.4em;
    color: #ff0000;
}

.CodeMirror .cm-spell-error {
    color: #ff0000;
    font-style: italic;
}