# ##############################################################################
# project ----------------------------------------------------------------------
# ##############################################################################

.idea

/notex/build
/notex/dist
/notex/*.db
/notex/sessions/*

/notex/static/js/notex.min.js
/notex/static/css/notex.min.css
/notex/static/admin
/notex/static/notex

/bin
/include
/lib
/share

*.pid-*
*.xcf

# ##############################################################################
# global -----------------------------------------------------------------------
# ##############################################################################

# ------------------------------------------------------------------------------
# temporary files ##############################################################
# ------------------------------------------------------------------------------

*~
*.swp

# ------------------------------------------------------------------------------
# compiled source ##############################################################
# ------------------------------------------------------------------------------

*.com
*.class
*.pyc
*.dll
*.exe
*.o
*.so

# ------------------------------------------------------------------------------
# archives: use git's built-in compression #####################################
# ------------------------------------------------------------------------------

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ------------------------------------------------------------------------------
# logs and databases ###########################################################
# ------------------------------------------------------------------------------

*.log
*.db
*.db-journal

# ------------------------------------------------------------------------------
# operating system generated files #############################################
# ------------------------------------------------------------------------------

.DS_Store?
ehthumbs.db
Icon?
Thumbs.db

# ##############################################################################
# ##############################################################################
