# ##############################################################################
# project ----------------------------------------------------------------------
# ##############################################################################

/notex.app/build
/notex.app/dist
/notex.app/*.db
/notex.app/sessions/*
/notex.app/notex.egg-info
/notex.app/nbproject/private

# ##############################################################################
# global -----------------------------------------------------------------------
# ##############################################################################

# ------------------------------------------------------------------------------
# compiled source ##############################################################
# ------------------------------------------------------------------------------

*.com
*.class
*.pyc
*.dll
*.exe
*.o
*.so

# ------------------------------------------------------------------------------
# archives: use git's built-in compression #####################################
# ------------------------------------------------------------------------------

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ------------------------------------------------------------------------------
# logs and databases ###########################################################
# ------------------------------------------------------------------------------

*.log
*.db
*.db-journal

# ------------------------------------------------------------------------------
# operating system generated files #############################################
# ------------------------------------------------------------------------------

.DS_Store?
ehthumbs.db
Icon?
Thumbs.db

# ##############################################################################
# ##############################################################################
