{% extends "base.html" %}

{% block app-js %}
<script type="text/javascript" src="{% url editor:ReportManager.util.js %}"></script>
<script type="text/javascript" src="{% url editor:ReportManager.tree.js %}"></script>
<script type="text/javascript" src="{% url editor:ReportManager.task.js %}"></script>
<script type="text/javascript" src="{% url editor:ReportManager.js %}"></script>
<script type="text/javascript" src="{% url editor:Editor.js %}"></script>
<script type="text/javascript" src="{% url editor:Dialog.openFile.js %}"></script>
<script type="text/javascript" src="{% url editor:Dialog.js %}"></script>
<script type="text/javascript" src="{% url editor:Base64.js %}"></script>
<script type="text/javascript" src="{% url editor:Math.uuid.js %}"></script>
{% endblock %}

{% block main %}
<script type="text/javascript">

    var session = {
        id: '{{ sid }}'
      , timestamp: '{{ timestamp }}'
    }

    var urls = {
        createProject : '{% url editor:post.createNodeOfTypeProject %}'
      , createFolder  : '{% url editor:post.createNodeOfTypeFolder %}'
      , createText    : '{% url editor:post.createLeafOfTypeText %}'
      , createImage   : '{% url editor:post.createLeafOfTypeImage %}'
      
      , read   : '{% url editor:post.read %}'

      , updateText  : '{% url editor:post.updateLeafOfTypeText %}'
      , updateImage : '{% url editor:post.updateLeafOfTypeImage %}'
      , swapRank  : '{% url editor:post.swapRank %}'

      , rename : '{% url editor:post.rename %}'
      , del    : '{% url editor:post.delete %}'
    }

    dump (session);    
</script>

<script type="text/javascript">
Ext.onReady (function () {

    /**
     * quick-tips -------------------------------------------------------------
     */

    Ext.QuickTips.init ();

    /**
     * viewport ---------------------------------------------------------------
     */

    var viewport = new Ext.Viewport({

        layout : 'border'
      , id     : 'viewportId'

      , items : [{
            region : 'center'
          , layout : 'fit'
          , items  : [editor]

      },{
            region       : 'west'
          , split        : true
          , minWidth     : 248  
          , width        : 248
          , collapsed    : false
          , collapseMode : 'mini'
          , hidden       : false
          , layout       : 'fit'
          , items        : [reportManager]
      }]
    });

    viewport.show ();

});</script>
{% endblock %}
