{% extends "base.html" %}

{% block app-js %}
<script type="text/javascript" src="{% url editor:ReportManager.util.js %}"></script>
<script type="text/javascript" src="{% url editor:ReportManager.tree.js %}"></script>
<script type="text/javascript" src="{% url editor:ReportManager.task.js %}"></script>
<script type="text/javascript" src="{% url editor:ReportManager.js %}"></script>
<script type="text/javascript" src="{% url editor:Editor.js %}"></script>
<script type="text/javascript" src="{% url editor:Dialog.openFile.js %}"></script>
<script type="text/javascript" src="{% url editor:Dialog.js %}"></script>
<script type="text/javascript" src="{% url editor:Base64.js %}"></script>
<script type="text/javascript" src="{% url editor:Math.uuid.js %}"></script>
{% endblock %}

{% block main %}
<script type="text/javascript">

    var session = {
        id: '{{ sid }}', 
        timestamp: '{{ timestamp }}'
    }

    var urls = {
        createProject : '{% url editor:create-project %}', 
        createFolder : '{% url editor:create-folder %}', 
        createText : '{% url editor:create-text %}', 
        createImage : '{% url editor:create-image %}', 
        
        read : '{% url editor:read %}',
        
        updateText : '{% url editor:update-text %}', 
        updateImage : '{% url editor:update-image %}', 
        swapRank : '{% url editor:swap-rank %}', 
        
        rename : '{% url editor:rename %}', 
        del : '{% url editor:delete %}',

        exportText : '{% url editor:export-text "=" %}',
        exportLatex : '{% url editor:export-latex "=" %}',
        exportPdf : '{% url editor:export-pdf "=" %}',

        storeFile : '{% url editor:store-file "*" %}'
    }

    dump (session);    
</script>

<script type="text/javascript">
Ext.onReady (function () {

    Ext.QuickTips.init ()
    var viewport = new Ext.Viewport ({

        layout : 'border', 
        id : 'viewportId',

        items : [{
            region : 'center',
            layout : 'fit',
            items : [editor]
        },{
            region : 'west',
            split : true,
            minWidth : 260,
            width : 260,
            collapsed : false,
            collapseMode : 'mini',
            hidden : false,
            layout : 'fit',
            items : [reportManager]
        }]
    })

    viewport.show ()
});</script>
{% endblock %}
