{% spaceless %}
<ul style="margin:0; width:100%; height:100%;">

    <li style="padding:8px;">
        <p style="font-size:larger; text-align:justify; color:grey;">&rsaquo;&ensp;Please send the shown amount to the provided <b>bitcoin address</b>; upon receiving your payment you will be sent the corresponding download link. This bitcoin address can only be used <b>once</b> and only within the next <b>8 hours</b>:</p>
    </li>

    <li style="position:absolute; top:64px; bottom:64px; width:100%;">

        <div style="display:table; height: 100%; width: 100%;">
            <div style="display:table-cell; vertical-align:middle; text-align:center;">
                <input id="input-1.id" style="margin:0; width:75%; text-align:center; font-size: large; font-family: monospace; color: black;" readonly="readonly" value="" />
            </div>
        </div>

    </li>

    <li style="padding:8px; position:absolute; bottom:0;">
        <p style="font-size:larger; text-align:justify; color:grey;">&rsaquo;&ensp;If you include a transaction fee then you should get an e-mail answer within minutes, although a delay of several hours is possible. Should you <b>not</b> get an answer within 8 hours, then please write to "contact [at-sign] blackhan.ch".</p>
    </li>

</ul>
{% endspaceless %}