{% spaceless %}
    <ul style="margin:0; width:100%; height:100%;">

        <li style="padding:8px;">
            <p style="font-size:larger; text-align:justify; color:grey;">&rsaquo;&ensp;Please enter your <b>e-mail</b> address; it\'s <b>required</b>, since once you\'ve completed the payment process &ndash; and we\'ve confirmed your transaction &ndash; you will be send the download link:</p>
        </li>

        <li style="position:absolute; top:64px; bottom:64px; width:100%;">

            <div style="display:table; height: 100%; width: 100%;">
                <div style="display:table-cell; vertical-align:middle; text-align:center;">
                    <input id="input-0.id" style="margin:0; width:75%; text-align:center; font-size:large; font-family:monospace; color:black;" type=email placeholder="e-mail address" />
                </div>
            </div>

        </li>

        <li style="padding:8px; position:absolute; bottom:0;">
            <p style="font-size:larger; text-align:justify; color:grey;">&rsaquo;&ensp;Make sure you enter a <b>correct</b> e-mail address, otherwise we won\'t be able to send you the corresponding download link for the application. </p>
        </li>

    </ul>
{% endspaceless %}