<div id="page" class="contact">
    <div class="form-wrap">
    <form onsubmit="Ext.getBody ().mask ('Sending', 'x-mask-loading');" action="{% url editor:send-feedback %}" method="post">{% csrf_token %}
        <table border=0 class="table">
            <tr>
                <td align="left">
                    <b>Name</b>
                </td>
                <td align="right" class="input-cell">
                    <input class="input" type="text" name="name" placeholder="your name" required>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <b>Email</b>
                </td>
                <td align="right" class="input-cell">
                    <input class="input" type="email" name="mail" placeholder="email address" required>
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <textarea class="textarea" name="comment" rows="20" cols="64" placeholder=".." required></textarea>
                </td>
            </tr>
            <tr align="right">
                <td colspan=2>
                    <input type="submit" value="Send">
                    <input type="reset" value="Reset">
                </td>
            </tr>
        </table>
    </form>
    </div>
    <div class="subline">
        <ul>
            <li class="subline-icon icon-link-16"></li>
            <li class="subline-text"><a href="http://blackhan.ch">http://blackhan.ch</a></li>
            <li class="subline-icon icon-email-16"></li>
            <li class="subline-text">contact[at]blackhan.ch</li>
        </ul>
    </div>
</div>

<div class="footer-sticky">
    {% include 'ssl-seal.html' %}
</div>
