<style>
    input {
        border: 4px solid white;
        -webkit-box-shadow:
            inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);

        -moz-box-shadow:
            inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
        box-shadow:
            inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
        padding: 15px;
        background: rgba(255,255,255,0.5);
        margin: 0 0 10px 0;
    }
</style>

<script type="text/javascript">
    var getCheckoutPanel = function (address, product) {

        function generateAddress () {
            return address; //TODO!
        }

        function move (delta) {
            var panelLayout = Ext.getCmp ('checkout-panel').getLayout ();
            var item = panelLayout.activeItem.id.split ('card-')[1];
            var index = parseInt (item, 10);

            if (index == 0) {
                var email = Ext.fly ('input-0.id').dom.value;
                var regex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                if (regex.test (email) != true) {
                    return;
                }
            }

            index += delta;

            panelLayout.setActiveItem (index);
            Ext.getCmp ('move-prev').setDisabled (index==0);
            Ext.getCmp ('move-next').setDisabled (index==1);

            if (index == 1) {
                Ext.fly ('input-1.id').dom.value = String.format (
                    "{0} -> {1}", product.price, generateAddress ()
                );
            }

            var window = Ext.getCmp ('checkout-window');
            window.updateTitle (index);
        };

        return new Ext.Panel ({
            id: 'checkout-panel',
            layout:'card',
            activeItem: 0,
            width: 640, height: 320,
            defaults: {
                border:false
            },

            bbar: [{
                id: 'move-prev',
                text: 'Back',
                handler: move.createDelegate (this, [-1]),
                disabled: true
            }, '->', {
                id: 'move-next',
                text: 'Next',
                handler: move.createDelegate (this, [+1])
            }],

            items: [{
                layout: 'fit',
                id: 'card-0',
                html: '{% include "card-0.html" %}'
            },{
                id: 'card-1',
                html: '{% include "card-1.html" %}'
            }]
        });
    }

    var getCheckoutWindow = function (address, product) {
        function getTitle (product, progress) {
            return String.format ('Checkout: {0} [{1} of {2}]', product.title,
                progress.index + 1, progress.length
            );
        }

        var progress = {
            index: 0, length: 2
        }

        return new Ext.Window ({
            id: 'checkout-window',
            title: getTitle (product, progress),
            items: [getCheckoutPanel (address, product)],
            iconCls: 'icon-coins-16',
            resizable: false,

            updateTitle: function (index) {
                this.setTitle (getTitle (product, {
                    index: index, length: progress.length
                }));

                return this.title;
            }
        })
    }
</script>

<script type="text/javascript">
    function checkout (address, product) {
        if (_gaq) {
            _gaq.push(['_trackEvent', 'Sale', 'Software', product.title]);
        }

        getCheckoutWindow (address, product).show ();
    }

    function checkout_notex_intl () {
        return checkout ('19PGfaouCiuFrsrPGtRmAuMPLhCBL86FeJ', {
            uuid: 'b3bdb98c-6fae-445d-8b64-3c0dbfbf9905',
            title: 'NoTex INTL',
            price: '0.75 BTC'
        });
    }

    function checkout_notex_ncjk () {
        return checkout ('19PGfaouCiuFrsrPGtRmAuMPLhCBL86FeJ', {
            uuid: '9236c06c-ddb3-4789-8cf2-5f4937bddced',
            title: 'NoTex nCJK',
            price: '0.50 BTC'
        });
    }
</script>

<style>
    .checkout img:hover { cursor: pointer; }
    .checkout img { margin-left: 2em; }
    .checkout li { margin-left: 1em; }
</style>

<div id="page" class="textual download">

    <p>NoTex is a browser based editor, which allows you to write  reports and theses based  on the <em>reStructuredText</em> markup language. Once written the documents can be exported as PDF, HTML or LaTex.</p>

    <p>If you feel ‒ for various reasons ‒ uncomfortable using an <em>online</em> editor, then you may be interested in an <em>offline</em> solution, which can be used with or even without an internet connection.</p>

    <h2>Download</h2>

    <p>The offline editor is packaged as a so called virtual machine for <em>VirtualBox</em>; based on your needs, you can choose from one of the following two options:</p>

    <table class="checkout">
        <tbody>
        <tr>
            <td>
                <img src="{{ STATIC_URL }}app/erp/img/bitcoin-order.png" onClick="checkout_notex_intl();" />
            </td>
            <td>
                <ul>
                    <li>1. <a href="#" onClick="checkout_notex_intl ();">NoTex International</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <p>Offers full support for the LaTex backend <em>Texlive 2012</em>, whereas the far eastern Chinese, Japanese and Korean languages are included. Plus it contains fonts for various other Asian languages. A list of supported packages can be found <a target="_blank" href="http://download.notex.ch/notex.current.intl.txt">here</a>.</p>

    <table class="checkout">
        <tbody>
        <tr>
            <td>
                <img src="{{ STATIC_URL }}app/erp/img/bitcoin-order.png" onClick="checkout_notex_ncjk ();" />
            </td>
            <td>
                <ul>
                    <li>2. <a href="#" onClick="checkout_notex_ncjk ();">NoTex non-CJK</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <p>This non-CJK edition lacks support for Chinese, Japanese and Korean; plus many Asian fonts have been omitted. The list of supported and omitted packages can be found <a target="_blank" href="http://download.notex.ch/notex.current.ncjk.txt">here</a>.</p>

    <p>In addition to one of the above virtual machines, <em>VirtualBox</em> itself is required to run the system; it's available at:</p>

    <ul>
        <li><a target="_blank" href="https://www.virtualbox.org/">https://www.virtualbox.org</a>.</li>
    </ul>

    <p>Go to the corresponding download section, and choose the version compatible with your operating system. Once VirtualBox is properly setup, you may continue with the installation of NoTex.</p>

    <h2>Installation</h2>

    <p>After you've setup VirtualBox, you have to import the international or the non-CJK version; from the menu of the main window choose:</p>

    <ul>
        <li>&raquo; File &raquo; Import Appliance ...</li>
    </ul>

    <p>and follow the instructions of the import wizard. Once the import is done, start the virtual machine.</p>

    <div class="figure">
        <img src="{{ STATIC_URL }}app/editor/img/vm-import.gif" alt="Application Import Wizard">
        <p><b>VM Import Wizard:</b> It is possible to tweak the virtual machine settings at import, e.g. you can increase the number of CPUs or the amount of RAM allocated to experience better performance (the defaults should be more than enough though). Deselecting the DVD check box and reinitializing the MAC address are recommended.</p>
    </div>

    <h2>Usage</h2>

    <p>If not already done, start the NoTex virtual machine: As soon as it is running, point your browser of choice (not Internet Explorer) to the address:</p>

    <ul>
        <li><a target="_blank" href="http://localhost:8080/">http://localhost:8080/</a>.</li>
    </ul>

    <p>If you run the editor on a different host than the browser, then you may have to replace <em>localhost</em> with the correct host name.</p>

    <div class="figure">
        <img src="{{ STATIC_URL }}app/editor/img/vm-running.gif" alt="Notex VM">
        <p><b>NoTex VM:</b> Once the virtual machine has booted up, you should see a screen similar to what is shown above. Let the VM run in the background, open a browser and enter the address <a target="_blank" href="http://localhost:8080/">http://localhost:8080/</a> to connect to the application.</p>
    </div>

    <p>Although the virtual machine shows a <em>login prompt</em> at the console, it is not possible to do so, since for security reasons all password logins to the system have been disabled. Your data is stored <em>within</em> the VM, so make sure to export your data (using NoTex) in case you intend to delete the VM completely.</p>

    <p>Should your mouse pointer get captured by the VM, then press the <em>host key</em> (usually the right CTRL key, see the lower right corner of the status bar) to get it released.</p>
</div>

<div class="footer">
    {% include 'ssl-seal.html' %}
</div>
