<div id="page" class="textual overview">

    <p>Are you tired of fighting <em>Word</em> or <em>LaTex</em>? Forget them! The web based <a href="http://notex.ch">NoTex</a> editor helps you to write your thesis, report or article using the superior and very natural <em>re-structured text</em> markup. No wasted time with installation, no more frustration with <em>Word</em> and no figuring out of complicated <em>LaTex</em> commands; give it a try!</p>

    <p>If you're a serious author writing lengthy books, or a professor or a student writing complex reports, articles and theses then NoTex is the editor for you: It allows you to <em>focus</em> on content creation and produces publication quality PDFs. For this purpose it applies the <em>re-structured text</em> markup, which has a very natural approach to writing.</p>

    <p>You'd like to convert your content not only to PDF but also HTML? Not a problem, just click one single button, and you have your material ready as HTML to be published on the internet. And for those who don't want to give up their <em>LaTex</em> tool chain, just use the corresponding export button and you're done.</p>

    <h2>Content vs. Presentation</h2>
    <p>So what's actually wrong with <em>Word</em> or <em>LaTex</em>? Why consider another editor when you're able to write your books or reports with them? Well the problems are many, so let's bash first <em>Word</em> before we proceed to <em>LaTex</em>.</p>

    <h3><em>Word</em></h3>
    <p>Have you tried to write a book with <em>Word</em> or one of the other office applications? Did you succeed? Did you enjoy writing in those word processors? Could you concentrate on the next sentence? Or where you constantly distracted by one of the many presentational issues? Like the image of your favorite subject not being perfectly centered, or the distance between the caption and the border at the bottom of the image being too large or too small? What about the vertical positioning on the page? Maybe you should have resized the image to fit another one on the same page? ...</p>

    <p>And all you wanted to do, was to write the next paragraph about the subject at hand. But since it's very easy with <em>Word</em> to get distracted with minor presentational issues, the actual task does not get done: Producing content! That's the problem with all those <em>what you see is what you get</em> processors: They distract and therefore lower productivity.</p>

    <p>Admittedly, if you just want to write a simple letter complaining about your taxation, then these word processors can be very handy. But the moment you introduce elements like <em>table of contents, footnotes, images, captions, indices, quotations, references, etc.</em> then these applications reach very quickly their boundaries.</p>

    <p>To tackle such distractions and to enable you to write complex content, intelligent people came up with <em>LaTex</em>. But <em>LaTex</em> has it's own share problems. Let's look at it:</p>

    <h3><em>LaTex</em></h3>
    <p>Once there was a professor who was not happy about the presentation of his book and articles: It was simply not good enough and therefore he decided to fix it. He went into his office and in the next eight years he produced a superb system that allowed him to write his book and articles, producing output which he could show around without getting embarrassed: He called it <em>Tex</em> which was later-on extended to <em>LaTex</em>. While designing the system he focused so much on the presentational quality of the end product, that he neglected the fact that a system should also be user friendly.</p>

    <p>Anyway if you've ever used <em>LaTex</em> then you'll have noticed how complex and difficult it's markup language is. The reason for this is <em>because</em> you use it not only to express your content, but <em>also</em> to describe the desired presentation.</p>

    <p><em>LaTex</em> mixes as much as <em>Word</em> content production with presentational design: While <em>Word</em> does it on a visual level, <em>LaTex</em> repeats the same mistake in the markup. This is wrong, and should be fixed. There is actually a very nice example which implements a clean separation: HTML with CSS.</p>

    <h3>HTML with CSS</h3>
    <p>This couple is the perfect example to demonstrate the need to separate content from presentation: While HTML focuses on the content (or structure) of a web application, CSS is the magic that turns a dull site into something that looks exciting. But HTML with CSS has been designed to be used for web sites and web applications inside browsers.</p>

    <p>If you ever try to print a website it will usually look horrible! With CSS it is simply impossible to reach the same quality output of <em>LaTex</em>; it has not been designed for that purpose.</p>

    <h2>Re-Structured Text</h2>
    <p>Here is were re-structured text enters the arena and allows you express content without worrying much about presentation. After you've written some content, you can combine it with <em>LaTex</em> to produce excellent looking books, reports or articles. It's the next generation of content description markup and it is very natural to read a manuscript that has been crafted with re-structured text (as compared to <em>LaTex</em> manuscripts or HTML code): The emphasis is to be <em>user friendly</em>.</p>

    <p>But how do you combine re-structured text with <em>LaTex</em>? Well this is what NoTex does: It takes your content expressed in re-structured text, applies a template ‒ described with <em>LaTex</em> ‒ and delivers you auto-magically your publication ready output.</p>

    <h2>Tutorial</h2>
    <p>The learn more, get started with the <a href="?pg=tutorial">tutorial</a>. It will teach you the basics about NoTex and it's user interface; plus you'll get a very brief introduction to re-structured text and write you're first article with it. Go ahead, you'll enjoy it!</p>

</div>

<div class="footer">
    {% include 'ssl-seal.html' %}
</div>
