<div id="page-wrap">
    <div id="page-wrap-content">
        <div id='cssmenu'>
            <ul>
                <li class="{% if page == 'home' %}active{% endif %}">
                    <a href='{% url editor:home %}'><span>Home</span></a></li>
                <li class="{% if page == 'overview' %}active{% endif %}">
                    <a href='{% url editor:overview %}'><span>NoTex</span></a></li>
                <li class="{% if page == 'tutorial' %}active{% endif %}">
                    <a href='{% url editor:tutorial %}'><span>Tutorial</span></a></li>
                <li class="{% if page == 'rest' %}active{% endif %}">
                    <a href='{% url editor:rest %}'><span>Restructured Text</span></a></li>
                <li class="{% if page == 'faq' %}active{% endif %}">
                    <a href='{% url editor:faq %}'><span>FAQ</span></a></li>
                <li class="{% if page == 'download' %}active{% endif %}">
                    <a href='{% url editor:download %}'><span>Download</span></a></li>
            </ul>
        </div>

        {% if page == 'home' %}
            {% include 'home_page.html' %}
        {% elif page == 'overview' %}
            {% include 'overview_page.html' %}
        {% elif page == 'tutorial' %}
            {% include 'tutorial_page.html' %}
        {% elif page == 'rest' %}
            {% include 'rest_page.html' %}
        {% elif page == 'faq' %}
            {% include 'faq_page.html' %}
        {% elif page == 'download' %}
            {% include 'download_page.html' %}
        {% endif %}
    </div>
</div>
