<div id="page-wrap">
    <div id="page-wrap-content">
        <div id='cssmenu'>
            <ul>
                <li class="{% if page == 'home' %}active{% endif %}">
                    <a href='?pg=home'><span>Home</span></a></li>
                <li class="{% if page == 'overview' %}active{% endif %}">
                    <a href='?pg=overview'><span>NoTex</span></a></li>
                <li class="{% if page == 'tutorial' %}active{% endif %}">
                    <a href='?pg=tutorial'><span>Tutorial</span></a></li>
                <!-- <li class="{% if page == 'rest' %}active{% endif %}">
                    <a href='?pg=rest'><span>Re-Structured Text</span></a></li>
                <li class="{% if page == 'faq' %}active{% endif %}">
                    <a href='?pg=faq'><span>FAQ</span></a></li> -->
                <li class="{% if page == 'download' %}active{% endif %}">
                    <a href='?pg=download'><span>Download</span></a></li>
            </ul>
        </div>

        {% if page == 'home' %}
            {% include 'home_page.html' %}
        {% elif page == 'overview' %}
            {% include 'overview_page.html' %}
        {% elif page == 'tutorial' %}
            {% include 'tutorial_page.html' %}
        {% elif page == 'rest' %}
            {% include 'generic_page.html' %}
        {% elif page == 'ssl' %}
            {% include 'generic_page.html' %}
        {% elif page == 'faq' %}
            {% include 'generic_page.html' %}
        {% elif page == 'download' %}
            {% include 'download_page.html' %}
        {% endif %}
    </div>
</div>
