{% extends "base.html" %}
{% load b64 %}

{% block application-css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}notex.min.css" />
{% endblock %}

{% block application-js %}
<script type="text/javascript">
if(!Array.prototype.forEach){Array.prototype.forEach=function(fn){var len=this.length;
if(typeof fn!="function"){throw new TypeError()}var self=arguments[1];for(var i=0;
i<len;i++){if(i in this){fn.call(self,this[i],i,this)}}}};</script>

<script type="text/javascript">
if(!Array.prototype.filter){Array.prototype.filter=function(fn){var len=this.length;
if(typeof fn!="function"){throw new TypeError()}var res=new Array();var self=arguments[1];
for(var i=0;i<len;i++){if(i in this){var val=this[i];if(fn.call(self,val,i,this)){res.push(val)
}}}return res}};</script>

<script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/Base64.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/Math.uuid.js"></script>

<script type="text/javascript">
var urls = {
    createProject : Base64.decode ({% url editor:create-project as uri %}'{{ uri|b64_encode }}'),
    createFolder : Base64.decode ({% url editor:create-folder as uri %}'{{ uri|b64_encode }}'),
    createText : Base64.decode ({% url editor:create-text as uri %}'{{ uri|b64_encode }}'),
    createImage : Base64.decode ({% url editor:create-image as uri %}'{{ uri|b64_encode }}'),
    read : Base64.decode ({% url editor:read as uri %}'{{ uri|b64_encode }}'),
    updateText : Base64.decode ({% url editor:update-text as uri %}'{{ uri|b64_encode }}'),
    updateImage : Base64.decode ({% url editor:update-image as uri %}'{{ uri|b64_encode }}'),
    decreaseRank : Base64.decode ({% url editor:decrease-rank as uri %}'{{ uri|b64_encode }}'),
    increaseRank : Base64.decode ({% url editor:increase-rank as uri %}'{{ uri|b64_encode }}'),
    rename : Base64.decode ({% url editor:rename as uri %}'{{ uri|b64_encode }}'),
    del : Base64.decode ({% url editor:delete as uri %}'{{ uri|b64_encode }}'),
    exportReport : Base64.decode ({% url editor:export-report "=" as uri %}'{{ uri|b64_encode }}'),
    exportText : Base64.decode ({% url editor:export-text "=" as uri %}'{{ uri|b64_encode }}'),
    exportLatex : Base64.decode ({% url editor:export-latex "=" as uri %}'{{ uri|b64_encode }}'),
    exportPdf : Base64.decode ({% url editor:export-pdf "=" as uri %}'{{ uri|b64_encode }}'),
    exportHtml : Base64.decode ({% url editor:export-html "=" as uri %}'{{ uri|b64_encode }}'),
    importReport : Base64.decode ({% url editor:import-file "=" as uri %}'{{ uri|b64_encode }}')
}</script>

<script type="text/javascript" src="{{ STATIC_URL }}notex.min.js"></script>
{% endblock %}

{% block application-main %}
<script type="text/javascript">
var session = { id : '{{ sid }}', timestamp : '{{ timestamp }}' }
if (typeof (console) != 'undefined') console.info ('session', session);
Ext.BLANK_IMAGE_URL = '{{ STATIC_URL }}lib/extjs/resources/images/default/s.gif'
reportManager.csrftoken = "{% csrf_token %}";
</script>

<script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/Viewport.js"></script>
{% endblock %}
