{% extends "base.html" %}
{% load staticfiles %}

{% block application-css %}
<link rel="stylesheet" type="text/css" href="{% static "lib/extjs/resources/css/ext-all.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "lib/extjs/examples/ux/statusbar/css/statusbar.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/notex.min.css" %}"/>
{% endblock %}

{% block application-js %}
<script type="text/javascript">{% include "util.js" %}</script>
<script type="text/javascript">{% include "base-64.js" %}</script>
<script type="text/javascript">{% include "urls.js" %}</script>
<script type="text/javascript" src="{% static "js/notex.min.js" %}"></script>
<script type="text/javascript">{% include "main.js" %}</script>
{% endblock %}