{% extends "base.html" %}

{% block application-css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}lib/extjs/resources/css/ext-all.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}lib/extjs/examples/ux/statusbar/css/statusbar.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/notex.min.css"/>
    {% if dbg %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/icons-16.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/sprite.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/sprite-toolbar.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}app/editor/css/Editor.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}app/editor/css/Menu.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}app/editor/css/CodeMirror.yaml.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}app/editor/css/CodeMirror.rest.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}app/editor/css/CodeMirror.css"/>
    {% endif %}
{% endblock %}

{% block application-js %}
    <script type="text/javascript">{% include 'util.js' %}</script>
    <script type="text/javascript">{% include 'base-64.js' %}</script>
    <script type="text/javascript">{% include 'urls.js' %}</script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/notex.min.js"></script>

    {% if dbg %}
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/Assert.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/Tracker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/Math.uuid.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/Dialog.openFile.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/Dialog.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/CodeMirror.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/CodeMirror.mime.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/CodeMirror.yaml.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/CodeMirror.rest.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/CodeMirror.typo.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/ReportManager.util.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/ReportManager.crud.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/ReportManager.tree.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/ReportManager.task.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/ReportManager.tbar.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/ReportManager.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/Editor.ribbon.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/Editor.tbar.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/Editor.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/StatusBar.lang.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/StatusBar.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/Ajax.csrf.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/KeyMap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}app/editor/js/Viewport.js"></script>
    {% endif %}

    <script type="text/javascript">
        var cards = function () {
            var fnNext = function (self, event) {
                var panel = Ext.getCmp ('card-tabs-panel').getLayout ();
                var item = panel.activeItem.id.split ('card-')[1];
                var next = parseInt (item, 10) + 1;

                panel.setActiveItem (next);
                Ext.getCmp ('move-prev').setDisabled (false);
                Ext.getCmp ('move-next').setDisabled (next==2);
            };

            var fnPrev = function (self, event) {
                var panel = Ext.getCmp ('card-tabs-panel').getLayout ();
                var item = panel.activeItem.id.split ('card-')[1];
                var prev = parseInt (item, 10) - 1;

                panel.setActiveItem (prev);
                Ext.getCmp ('move-prev').setDisabled (prev==0);
                Ext.getCmp ('move-next').setDisabled (false);
            };

            return new Ext.Panel ({
                id: 'card-tabs-panel',
                layout:'card',
                activeItem: 0,
                bodyStyle: 'padding:15px',
                defaults: {
                    border:false
                },

                bbar: [{
                    id: 'move-prev',
                    text: 'Back',
                    handler: fnPrev.createDelegate (this),
                    disabled: true
                }, '->', {
                    id: 'move-next',
                    text: 'Next',
                    handler: fnNext.createDelegate (this)
                }],

                items: [{
                    id: 'card-0',
                    html: '<h1>Welcome to the Wizard!</h1><p>Step 1 of 3</p>'
                },{
                    id: 'card-1',
                    html: '<p>Step 2 of 3</p>'
                },{
                    id: 'card-2',
                    html: '<h1>Congratulations!</h1><p>Step 3 of 3 - Complete</p>'
                }]
            });
        }

        var wndOrder = function (product) {
            return new Ext.Window ({
                title: product.title, width: 512, items: [cards ()]
            })
        }
    </script>

    <script type="text/javascript">
        Ext.BLANK_IMAGE_URL ="{{ STATIC_URL }}lib/extjs/resources/images/default/s.gif";
        Ext.onReady(function () {Ext.QuickTips.init();viewport.show();});
    </script>
{% endblock %}