{% spaceless %}
    <ul class="checkout-card">

        <li class="header">
            <p>&rsaquo;&ensp;Please enter your <b>e-mail</b> address; it's <b>required</b>, since once you've completed the payment process &ndash; and we've confirmed your transaction &ndash; you will be send the download link:</p>
        </li>

        <li class="content">
            <div class="outer">
                <div class="inner">
                    <input id="input-0.id" type=email placeholder="e-mail address" />
                </div>
            </div>
        </li>

        <li class="footer">
            <p>&rsaquo;&ensp;Make sure you enter a <b>correct</b> e-mail address, otherwise we won't be able to send you the corresponding download link for the application. </p>
        </li>

    </ul>
{% endspaceless %}