{% spaceless %}
<ul class="checkout-card">

    <li class="header">
        <p>&rsaquo;&ensp;Please send the shown amount to the provided <b>bitcoin address</b>; upon receiving your payment you will be sent the corresponding download link. This bitcoin address can only be used <b>once</b> and only within the next <b>8 hours</b>:</p>
    </li>

    <li class="content">
        <div class="outer">
            <div class="inner">
                <img id="qr-code.id" src="{{ src }}" /><br />
                <input id="input-1.id" readonly="readonly" value="" />
            </div>
        </div>
    </li>

    <li class="footer">
        <p>&rsaquo;&ensp;If you include a transaction fee then you should get an e-mail answer within minutes, although a delay of several hours is possible. Should you <b>not</b> get an answer within 8 hours, then please write to "contact [at-sign] blackhan.ch".</p>
    </li>

</ul>
{% endspaceless %}