<!-- Do NOT put any DOCTYPE here unless you want problems in IEs. -->
{% block html %}<html>
 
{% block head %}<head>

  {% block dump %}<script type="text/javascript">
  var dump = function (data) {
      if (typeof (console) != 'undefined') {
          console.info (data); return data
      } else {
          return data
      }
  }</script>{% endblock %}

  <!-- The following line defines content type and utf-8 as character set. -->
  <!-- If you want your application to work flawlessly with various local  -->
  <!-- characters, just make ALL strings, on the page, json and db utf-8.  -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 
  <!-- Ext relies on its default css so include it here. -->
  <!-- This must come BEFORE javascript includes! -->
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}lib/extjs/include/resources/css/ext-all.css">
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}lib/extjs/include/resources/css/xtheme-gray.css">

  <!-- Include here your own css files if you have them. -->
  {% block icon-css %}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}ico/silk/icons.css" />
  {% endblock %}

  {% block ico %}<script type="text/javascript">
  var media = {
      url     : '{{ MEDIA_URL }}'
    , url_app : '{{ MEDIA_URL }}app/'
    , url_css : '{{ MEDIA_URL }}css/'
    , url_dat : '{{ MEDIA_URL }}dat/'
    , url_ico : '{{ MEDIA_URL }}ico/silk/'
    , url_lib : '{{ MEDIA_URL }}lib/'
    , url_pdf : '{{ MEDIA_URL }}pdf/'
    , url_pic : '{{ MEDIA_URL }}img/'
  }</script>{% endblock %}

  {% block css2url %}<script type="text/javascript">
  var css2url = function (css) {
      return media.url_ico + css.replace ("icon-","").concat (".png")
  }</script>{% endblock %}

  <!-- Include here your jquery related classes if you have some. -->
  {% block jquery-classes %}{% endblock %}
  <!-- Include here your jquery related javascript file if you have it. -->
  {% block jquery-js %}
  <script type="text/javascript" src="{{ MEDIA_URL }}lib/jquery/jquery.min.js"></script>
  {% endblock %}

  <!-- First of javascript includes must be an adapter... -->
  <script type="text/javascript" src="{{ MEDIA_URL }}lib/extjs/include/adapter/ext/ext-base.js"></script>
  <!-- ...then you need the Ext itself, either debug or production version. -->
  <script type="text/javascript" src="{{ MEDIA_URL }}lib/extjs/include/ext-all.js"></script>
 
  <!-- Include here your extended classes if you have some. -->
  {% block ext-classes %}{% endblock %}
  <!-- Include here your application javascript files if you have it. -->
  {% block app-js %}{% endblock %}

  {% block title %}
  <title></title>
  {% endblock %}

  {% block blank-image %}<script type="text/javascript">
  Ext.BLANK_IMAGE_URL = '{{ MEDIA_URL }}lib/extjs/include/resources/images/default/s.gif'
  </script>{% endblock %}

  {% block map2obj %}<script type="text/javascript">
  var map2obj = function (objects) {

      //
      // @see: svc/views.py: DATA.object (request, id, cls)
      //

      var res = objects[0]
      res.mro = {}

      for (var idx=objects.length-1; idx>=0; idx--) {
          var obj = objects[idx]

          for (var key in obj.fields) {
              res.fields[key] = obj.fields[key]
          }

          res.mro[idx] = obj.model
      }

      return res;
  }</script>{% endblock %}

  {% block map2objs %}<script type="text/javascript">
  var map2objs = function (objects_set) {

      //
      // @see: svc/views.py: DATA.objects (request, cls)
      //

      var res_set = []

      for (var idx=0; idx<objects_set.length; idx++) {
          res_set.push (map2obj (objects_set[idx]))
      }

      return res_set;
  }</script>{% endblock %}

  {% block main %}<script type="text/javascript">
  Ext.onReady(function() {
      console.info ("base.html")
  });</script>{% endblock %}

</head>{% endblock %}
 
{% block body %}
<body></body>
{% endblock %}

</html>{% endblock %}

