{% extends "base.html" %}

{% block main %}
<script type="text/javascript">
Ext.onReady(function() {

    Ext.QuickTips.init();

    var session = {
        id: '{{ sid }}'
      , timestamp: '{{ timestamp }}'
    }

    if (typeof(console)!='undefined') {
        console.info (session)
    }

    /**
     * pnlLhs -----------------------------------------------------------------
     */

    var pnlTree = {
        xtype       : 'treepanel'
      , autoScroll  : true
      , rootVisible : false

      , loader : new Ext.tree.TreeLoader({
            url : '{% url editor:post.tree %}'
        })

      , root : {
            text     : 'Root'
          , id       : 'LMRHE33POQRCYIC3LVOQ====' //[u'root', []]
          , cls      : 'folder'
          , iconCls  : 'icon-folder'
          , expanded : true
        }

      , listeners : {
            dblclick: function (node, event) {
                if (node.attributes['cls'] == "file") {
                    Ext.getCmp ('pnlRhsId').fireEvent ('show_tab', node)
                }
            }
        }
    }

    var pnlLhs = {
        title  : 'Project Manager'
      , layout : 'fit'

      , tools:[{
            id:'refresh',
            handler: function(event, toolEl, panel) {
                //@TODO!
            }
        }]

      , tbar : {
            items : [{
                iconCls       : 'icon-folder_page'
            },{
                iconCls       : 'icon-disk'
            },'-',{
                iconCls       : 'icon-add'
            },{
                iconCls       : 'icon-pencil'
            },{
                iconCls       : 'icon-delete'
            },'-',{
                iconCls       : 'icon-arrow_up'
            },{
                iconCls       : 'icon-arrow_down'
            }]
        }

      , items : [pnlTree]
    }

    /**
     * pnlRhs -----------------------------------------------------------------
     */

    var tabText = {

        title      : 'Plain'
      , layout     : 'fit'
      , autoScroll : true
      , iconCls    : 'icon-page_white_text'
      , closable   : true

      , items : [{
            xtype  : 'htmleditor',
            anchor : '100% 100%'
      }]

    }

    var tabLatex = {

        title      : 'Latex'
      , layout     : 'fit'
      , autoScroll : true
      , iconCls    : 'icon-page_white_code'
      , closable   : true

      , items : [{
            layout       : 'hbox'
          , layoutConfig : { align : 'middle', pack: 'center' }
          , items : [{
                width  : 128
              , height : 128
              , html   : '<img \
                    src="{{ MEDIA_URL }}img/mid/under_construction.jpg">'
          }]
      }]

    }

    var tabPdf = {

        title      : 'PDF'
      , layout     : 'fit'
      , autoScroll : true
      , iconCls    : 'icon-page_white_acrobat'
      , closable   : true

      , items : [{
            layout       : 'hbox'
          , layoutConfig : { align : 'middle', pack: 'center' }
          , items : [{
                width  : 128
              , height : 128
              , html   : '<img \
                    src="{{ MEDIA_URL }}img/mid/under_construction.jpg">'
          }]
      }]

    }

    var tabHtml = {

        title      : 'HTML'
      , layout     : 'fit'
      , autoScroll : true
      , iconCls    : 'icon-page_white_code_red'
      , closable   : true

      , items : [{
            layout       : 'hbox'
          , layoutConfig : { align : 'middle', pack: 'center' }
          , items : [{
                width  : 128
              , height : 128
              , html   : '<img \
                    src="{{ MEDIA_URL }}img/mid/under_construction.jpg">'
          }]
      }]

    }

    var tabView = {

        title      : 'HTML View'
      , layout     : 'fit'
      , autoScroll : true
      , iconCls    : 'icon-page_white_world'
      , closable   : true

      , items : [{
            layout       : 'hbox'
          , layoutConfig : { align : 'middle', pack: 'center' }
          , items : [{
                width  : 128
              , height : 128
              , html   : '<img \
                    src="{{ MEDIA_URL }}img/mid/under_construction.jpg">'
          }]
      }]

    }

    var pnlRhs = new Ext.TabPanel({

        activeTab       : 0
      , id              : 'pnlRhsId'
      , enableTabScroll : true
      , tabPosition     : 'bottom'

      , items           : [
        ]

      , listeners : {
            show_tab: function (node) {
                if (typeof(console) != 'undefined') {
                    console.info (node)
                }

                var tab = this.findById (node.id)
                if (!tab) {
                    tab = this.add({
                        title      : node.attributes['text']
                      , id         : node.id
                      , layout     : 'fit'
                      , autoScroll : true
                      , iconCls    : node.attributes['iconCls']
                      , closable   : true

                      , items : [{
                            xtype  : 'htmleditor',
                            anchor : '100% 100%'
                      }]
                    })
                }
                
                this.activate (tab)
            }
        }
    });

    /**
     * viewport ---------------------------------------------------------------
     */

    var viewport = new Ext.Viewport({

        layout : 'border'
      , id     : 'viewportId'

      , items : [{
            region : 'center'
          , layout : 'fit'
          , items  : [pnlRhs]

      },{
            region       : 'west'
          , split        : true
          , minWidth     : 256
          , width        : 256
          , collapsed    : false
          , collapseMode : 'mini'
          , hidden       : false
          , layout       : 'fit'
          , items        : [pnlLhs]
      }]
    });

    viewport.show ();

});</script>
{% endblock %}
