{% extends "base.html" %}

{% block app-js %}
<script type="text/javascript" src="{% url editor:DAL.js %}"></script>
<script type="text/javascript" src="{% url editor:Math.uuid.js %}"></script>
<script type="text/javascript" src="{% url editor:OpenFileDialog.js %}"></script>
<script type="text/javascript" src="{% url editor:ReportManagerTree.js %}"></script>
<script type="text/javascript" src="{% url editor:ReportManager.js %}"></script>
<script type="text/javascript" src="{% url editor:EditorTabs.js %}"></script>
{% endblock %}

{% block main %}
<script type="text/javascript">

    var session = {
        id: '{{ sid }}'
      , timestamp: '{{ timestamp }}'
    }

    var urls = {
        create : '{% url editor:post.create %}'
      , read   : '{% url editor:post.read %}'
      , update : '{% url editor:post.update %}'
      , del    : '{% url editor:post.delete %}'
    }

    if (typeof (console) != 'undefined') {
        console.info (session)
    }
    
</script>

<script type="text/javascript">
Ext.onReady (function () {

    Ext.QuickTips.init ();

    /**
     * viewport ---------------------------------------------------------------
     */

    var viewport = new Ext.Viewport({

        layout : 'border'
      , id     : 'viewportId'

      , items : [{
            region : 'center'
          , layout : 'fit'
          , items  : [pnlEditorTabs]

      },{
            region       : 'west'
          , split        : true
          , minWidth     : 268
          , width        : 268
          , collapsed    : false
          , collapseMode : 'mini'
          , hidden       : false
          , layout       : 'fit'
          , items        : [pnlReportManager]
      }]
    });

    viewport.show ();

});</script>
{% endblock %}
