{% load ssl %}{% ssl %}{% load cache %}{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% cache 604800 cache-head-micro %}
        <div itemscope itemtype="http://schema.org/SoftwareApplication">
        <meta itemprop="name" content="NoTex"/>
        <meta itemprop="description" content="{{ description }}"/>
        <meta itemprop="author" content="{{ host }}"/>
        <meta itemprop="url" content="{{ uri }}"/>
        <meta itemprop="image" content="{% static 'notex.png' %}"/>
        <meta itemprop="softwareApplicationCategory" content="BusinessApplication"/>
        <meta itemprop="softwareApplicationSubCategory" content="Editor"/>
        <meta itemprop="downloadURL" content="{{ uri }}/?pg=download"/>
        </div>
    {% endcache %}

    {% cache 604800 cache-head page %}
        <meta charset="utf-8">
        <meta name="keywords" content="{{ keywords }}"/>
        <meda name="description" content="{{ description }}"/>

        {% block application-css %}{% endblock %}

        {% if page != 'home' %}
        <title>NoTex - A re-structured text editor [{{ page_name }}]</title>
        {% else %}
        <title>NoTex - A re-structured text editor</title>
        {% endif %}

        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

        {% if not debug %}
        <script type="text/javascript">{% include 'analytics.js' %}</script>
        {% endif %}
    {% endcache %}
    <script type="text/javascript">CSRF_TOKEN = "{% csrf_token %}";</script>
</head>
<body>
{% cache 604800 cache-body page %}
    <div id="content-wrap">
        <div id="content">{% include 'page.html' %}</div>
    </div>
    {% block application-js %}{% endblock %}
{% endcache %}
</body>
</html>
{% end_ssl %}