{% load ssl %}{% ssl %}{% load cache %}
<!DOCTYPE html>
<html>
<head>
    {% cache 180 cache-head page %}
        <meta charset="utf-8">
        <meta name="keywords" content="{{ page_keywords }}"/>
        <meta name="description" content="{{ page_description }}"/>

        {% block application-css %}{% endblock %}

        {% if page_title %}
        <title>{{ page_title }}</title>
        {% else %}
        <title>NoTex - A restructured text editor</title>
        {% endif %}

        <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
        <link rel="canonical" href="{{ page_canonical_url }}">

        {% if not dbg %}
        <script type="text/javascript">{% include 'analytics.js' %}</script>
        {% else %}
        <script type="text/javascript">var _gaq = undefined;</script>
        {% endif %}
    {% endcache %}
    <script type="text/javascript">CSRF_TOKEN = "{% csrf_token %}";</script>
</head>
<body>
{% cache 180 cache-body page %}
    <div id="content-wrap">
        <div id="content">{% include 'page.html' %}{% include 'ad/medrec.html' %}</div>
    </div>
    {% block application-js %}{% endblock %}
{% endcache %}
</body>
</html>
{% end_ssl %}
